* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: #0A1629;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.data {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 400px;
    width: 800px;
    border-radius: 15px;
}

h1{
    color: #49AFE9;
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 80px;
}

input{
    width: 714px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #49AFE9;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

input:focus{
    outline: none;
}

button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #0A1629;
    color: #49AFE9;
    font-size: 20px;
    font-weight: 700;
}

p{
    color: #49AFE9;
    font-size: 15px;
    font-weight: 600;
}

span{
    color: #FFA318;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    transition: 0.3s;
    background: #49AFE9;
    color: #0A1629;
}